<!DOCTYPE html>
<html>
	<head>
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script src="scripts/socket-io.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <script src="scripts/deep.js"></script>
    <script src="scripts/p5ml.js"></script>

	</head>
	<body>
    <div id="center">
      <h4>DEEPLEARN + SOCKET.IO</h4>
    </div>

    <video id="video" muted="true" autoplay crossorigin="anonymous" ></video>

    <div class="k" id="video-container">
      <!-- <video id="their-video" autoplay crossorigin="anonymous" width="227" height="227" ></video> -->
      <video id="my-video" muted="true" autoplay crossorigin="anonymous" width="227" height="227" ></video>

    </div>

    <div id="form">
		  <!-- <input type="text" id="other_peer_id" value="PeerID to connect with">
  		<input type="button" value="Call" onclick="makeConnection()"><br />
  		<input type="text" id="chat">
  		<input type="button" value="Send" onclick="sendMessage()"><br /> -->
  		<div id="chatlog"></div>
    </div>

    <script src="/scripts/client.js"></script>

	</body>
</html>
