<!DOCTYPE html>
<html>
	<head>
    <script type="text/javascript" src="scripts/jquery.js"></script>
    <script src="scripts/socket-io.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
		<script src="scripts/capture.js"></script>
    <script src="scripts/p5ml.js"></script>

	</head>
	<body>

    <video id="video" muted="true" autoplay crossorigin="anonymous" ></video>

    <div class="k" id="video-container">
      <!-- <video id="their-video" autoplay crossorigin="anonymous" width="227" height="227" ></video> -->
      <video id="my-video" muted="true" autoplay crossorigin="anonymous" width="227" height="227" ></video>

    </div>

    <div id="form">
  		<div id="chatlog"></div>
    </div>

    <script src="/scripts/client.js"></script>

	</body>
</html>
