<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <title>Pair Browser</title>
  </head>

  <style>

  body{
      background: -webkit-linear-gradient(top right, #c1f5ff, #ffb5f0);
      font-family: Arial;
    }

  </style>
<body>

  <h1>WELCOME TO PAIR BROWSER <3 </h1>
	<h1 id="users"></h1>




  <script src="/js/client.js"></script>
</body>
</html>
